VITE_SUPABASE_URL=https://xqwztgabplcaidwmqnsi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhxd3p0Z2FicGxjYWlkd21xbnNpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5NDg3ODUsImV4cCI6MjA4OTUyNDc4NX0.gBeCl9haH5baCMG4dG4_NtbSlIfU986zRH906q-hRuU
